.sos-btn {
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
    height: 2rem !important;
    border-radius: 2em !important;
    font-size: 0.8em !important;
    color: #fff !important;
    background-color: rgb(255 48 48) !important;
}
.sos-container {
    background-color: rgb(20 26 33) !important;
}
.curr-lat-log{
    display: flex;
    flex-direction: column;
}
.curr-lat-log span {
    font-size: 0.875rem;
    color: #919eab;
    margin-bottom: 0.5rem;
}