.heading-filter {
  font-size: 1.5em;
  color: #919eab;
  margin-bottom: 1em;
  font-weight: 600;
}
.heading-menus {
  color: #637381;
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.sidebar-menu-items-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sidebar-menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 8px 12px 8px 12px;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}
.sidebar-menu-item:hover {
  background-color: rgba(145 158 171 / 0.08);
}
.sidebar-menu-item img{
  width: 24px;
  aspect-ratio: 3/2;
  object-fit: contain;
  /* height: 24px; */
  margin: 0 12px 0 0;
}
.sidebar-menu-item i {
  font-size: 1rem;
  font-weight: 600;
  color: #919EAB;
}
.sidebar-menu-item span {
  width: 100%;
  max-width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.57143;
  color: #919EAB;
}
.dropdown-container {
  margin-top: 0.5em;
}
.dropdown-container select {
  border: 0 solid#e5e7eb;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  min-height: 2rem;
  border-radius: 12px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.57143;
  color: inherit;
}
.sub-heading {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.57143;
  color: #919eab;
  margin-bottom: 0.5em;
}
.logo {
  width: 8em;
  margin-bottom: 1em;
}
.route-btn {
  background-color: rgb(255 48 48) !important;
  color: #fff !important;
  font-weight: 600 !important;
  margin-top: 2em;
}
.filter-btn {
  border: 0 solid#e5e7eb !important;
  padding-left: 0.6rem !important;
  padding-right: 0.6rem !important;
  height: 2rem !important;
  border-radius: 12px !important;
  font-size: 0.8em !important;
  color: inherit !important;
}
.input-container {
  margin-top: 1em;
}
.input-container input {
  height: 2rem !important;
}
.input-container span {
  color: rgb(124, 143, 172);
}
